.button
  display: flex
  justify-content: center
  align-items: center

  height: 50px
  padding: 0 32px

  border-radius: 8px

  font-weight: 500
  background-color: #835AFD
  color: #F8F8F8

  cursor: pointer
  transition: background-color .2s

  .login
    margin-right: 8px

  &:not(:disabled):hover
    background-color: #6F4BD8

  &:disabled
    opacity: .6
    cursor: not-allowed